* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #377419;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: green;
    color: #fff;
}

.buton:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #82e139;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #559557;
    }

    .navbar__menu.active {
        background: #377419;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
.main {
    background-color: #377419;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #377419;
    z-index: 1;
    width: 90%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #f0f0f0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #232241;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__container h2 {
        font-size: 3rem;
    }

    .main__container p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__container h2 {
        font-size: 2rem;
    }

    .main__container p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Events Section CSS */

@media screen and (max-width: 960px) {
    .events {
        height: 1600px;
    }
    .events h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .events {
        height: 1400px;
    }

    .events h1 {
        font-size: 1.2 rem;
    }

    .events__card {
        width: 300px;
    }
}

/* Tour Section CSS */
.tours {
    background-color: #377419;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
}

.tours h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.tours__container {
    max-width: 800px;
    margin: 0 auto;
}

.tours p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.tours__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: 11rem;
    margin-right: 11rem;
}

.tours__item {
    width: calc(33.33% - 2rem);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 11rem;
    text-align: center;
    position: relative;
}


.tours__item h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.tours__content {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    color: #fff;
    position: absolute;
    left: 0; 
    right: 0;
}

.tours__item.open .tours__content {
    display: block;
    position: relative; /* Add this */
    margin-top: 1rem; /* Adjust as needed */
}

.tours__advice {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.circles-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.circle {
    background-color: #b9d994;
    color: #052e0a;
    padding: 1.5rem 2.5rem;
    margin: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .tours h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .tours__info {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .tours__item {
        width: calc(50% - 2rem); /* Two items per row */
        margin-bottom: 15rem; /* Adjust as needed */
        margin-left: 0;
        margin-right: 0;
    }

    .toggle-attendance h2 {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .tours h1 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .tours__item {
        width: 100%; /* One item per row */
        margin-left: 0;
        margin-right: 0;
    }
}

/* Resource Section CSS */
.resource {
    background-color: #377419;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

.textResource {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: white;
}
  
.resource__container {
    display: grid; /* Change to flex to display cards side by side */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; 
    background-color: #377419;
    margin: 0 -20px;
}
  
.resource__card {
    flex: 1;
    max-width: 500px;
    width: 400px;
    border-radius: 4px;
    color: #fff;
    height: 400px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.textResource {
    font-size: 1rem;
}

.card-1 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-1 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-1:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-1:hover {
    color: #fff;
}

.card-1 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-1 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-1:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-1:hover {
    color: #fff;
}

.card-2 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-2 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-2:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-2:hover {
    color: #fff;
}

.card-3 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
    margin-bottom: 2rem;
}
  
.card-3 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-3:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-3:hover {
    color: #fff;
}

.card-4 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-4 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-4:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-4:hover {
    color: #fff;
}

.resource h1 {
    color: #87da48;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
  
/* .resource__card h2, 
.resource__card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
} */

.resource__card h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
/*.resource__card p {
    font-size: 1rem;
    margin-bottom: auto;
}
  
.resource__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    font-size: 1rem;
    cursor: pointer;
} */

.resource__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .resource {
        height: 1600px;
    }

    .resource h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }

    .resource__card {
        width: 200px; /* Adjust the width for medium screens */
        height: 200px; /* Adjust the height for medium screens */
    }
}


@media screen and (max-width: 480px) {
    .resource {
        height: 1400px;
    }

    .resource h1 {
        font-size: 1.2rem;
    }

    .resource__card {
        width: 100%; /* Full width for small screens */
        height: auto; /* Allow the height to adjust based on content */
    }
}

.logo-image {
    width: 200px;
    height: 120px;
    margin-right: -50px;
    margin-left: -50px;
  }

/* Meetings Section CSS */
.meeting {
    background-color: #377419;
    padding: 2rem;
    text-align: center;
}
  
.meeting h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #87da48;
}
  
.meeting h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #d6f8af;
}
  
.meeting p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #fff;
}
  
.meeting__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #469b0a;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    margin-bottom: 2rem;
    
    position: relative;
}

.attendance-paragraph {
    font-size: 18px;
    display: none;
    padding: 1rem;
    text-align: left;
}

.attendance-paragraph.visible {
    display: block;
}

.toggle-attendance {
    color: white;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
} 

.toggle-attendance:hover {
    color: #fff;
}

.toggle-attendance::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-width: 5px 5px 0; /* Create a triangle shape */
    border-style: solid;
    border-color: #d6f8af transparent transparent; /* Set arrow color */
    pointer-events: none;
}

/*@media screen and (max-width: 960px) {
    .meeting {
        height: 1600px;
    }
    .meeting h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .meeting__card {
        width: 300px;
    }

    .toggle-attendance {
       
    }
}*/
@media screen and (max-width: 480px) {
    .meeting {
        height: 1400px;
        margin: 20px;
    }

    .meeting h1 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .meeting__card {
        width: 100px;
    }

    .meeting h2 {
        font-size: 0.5rem;
    }

    .attendance-paragraph {
        font-size: 14px;
        padding: 0.5rem;
        margin-top: 0; 
    }

    .toggle-attendance {
        padding: 12px 20px;
    }

    .toggle-attendance::after {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-width: 5px 5px 0;
    }

    .toggle-attendance.open::after {
        transform: translateY(-50%) rotate(90deg);
    }
}

/* Contact Section CSS */
.contact {
    background-color: #377419;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #377419;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.contactt {
    height: 30vh;
    background-color: #377419;
}

.contact__content h1 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact__content h2 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #f0f0f0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.contact__content .subtext {
    font-size: 1.2rem;
    color: beige;
    font-style: italic;
}    

.contact__content .bold {
    color: #fff;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .contact__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .contact__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .contact__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .contact__container h2 {
        font-size: 3rem;
    }

    .contact__container p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .contact__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .contact__container h2 {
        font-size: 2rem;
    }

    .contact__container p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

/* Serve Section CSS */
.serve {
    background: #1c380d;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.serve h1 {
    background-color: #80e80a;
    background-image: linear-gradient(90deg, #80e80a 0%, #72FBFF 100%);
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 2rem;
}

.serve__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.serve__card {
    margin: 1rem;
    margin-top: 2rem;
    width: 700px;
    height: 140px;
    border-radius: 4px;
    background-color: rgb(127, 255, 172);
    background-size: cover;
    width: 700px;
    height: 200px;
    border-radius: 4px;
    background-color: rgb(127, 255, 172);
    background-size: cover;
    color: black; /* Changed text color to black */
    padding: 20px; /* Added padding to the card */
    display: flex; /* Added display: flex to align items in the card */
    flex-direction: column; /* Added flex-direction: column to stack elements vertically */
    justify-content: space-between; /* Added to evenly distribute elements vertically */
    margin-bottom: 30px;
    position: relative;
}

.serve h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.serve__card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.servebut {
    font-size: 1rem;
    background-color: #27b163;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    /*margin-top: 2rem;*/
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.servebut a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.servebut a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height as needed to control the line thickness */
    background-color: #fff; /* Change this color to your desired color */
    transform: scaleX(0); /* Start with no width, so the line is not visible initially */
    transform-origin: left; /* Line expands from the left to right */
    transition: transform 0.3s ease-in-out;
}

.servebut:hover {
    color: #fff;
}

.servebut:hover a::after {
    transform: scaleX(1); /* Expand the line to the full width on hover */
}


.servebut:hover {
    background-color: rgb(116, 197, 144);
    cursor: pointer;
}
  
.arrow-icon {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 40px solid #ffffff;
    margin: 40px auto;
    cursor: pointer;
    position: relative;
}

.arrow-icon::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    transform: translateX(-50%) translateY(-2px);
}

#firstServeCard {
    background: linear-gradient(90deg, #377419, #80e80a);
}

/* Styles specific to the second serve__card */
#secondServeCard {
    background: linear-gradient(90deg, #80e80a, #377419);
}

.service__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Set a maximum width to avoid stretching on larger screens */
}

.service__img img {
    /* Adjust the width and height as per your requirements */
    width: 100%; /* Modify the width to your desired size */
    height: auto; /* Adjust the height proportionally */
    max-width: 600px; /* Set the maximum width for larger screens */
    height: auto;
}

@media screen and (max-width: 960px) {
    .serve {
        height: 1600px;
    }
    .serve h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .serve__card {
        width: 300px;
    }

    .service__img {
        justify-content: center;
        align-items: center;
    }

    .service__img img{
        width: 100%; /* Modify the width to your desired size */
        max-width: 200px; /* Set the maximum width for mobile screens */
        height: auto; /* Adjust the height proportionally */

    }
}

@media screen and (max-width: 480px) {
    .serve {
        height: 1400px;
        margin: 20px;
    }

    .serve h1 {
        font-size: 1rem;
    }

    .serve__card {
        width: 100px;
    }

    .serve h2 {
        font-size: 0.5rem;
    }

    .service__img {
        justify-content: center;
        align-items: center;
    }

    .service__img img{
        width: 100%; /* Modify the width to your desired size */
        max-width: 200px; /* Set the maximum width for mobile screens */
        height: auto; /* Adjust the height proportionally */

    }
}