* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #377419;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5 rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: green;
    color: #fff;
}

.buton:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #82e139;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #559557;
    }

    .navbar__menu.active {
        background: #377419;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
.main {
    background-color: #377419;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #377419;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #559557;
    background-image: linear-gradient(to top, #5EB31E 0%, #f0f0f0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #232241;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__container h2 {
        font-size: 3rem;
    }

    .main__container p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__container h2 {
        font-size: 2rem;
    }

    .main__container p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Events Section CSS */
.events {
    background: #377419;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.events h1 {
    background-color: #80e80a;
    background-image: linear-gradient(90deg, #80e80a 0%, #72FBFF 100%);
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.events__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.events__card {
    margin: 1rem;
    height: 525px;
    width: 700px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/images/caryaudit.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}


.events h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.events__card p {
    position: absolute;
    top: 400px;
    left: 30px; 
}

.events__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #5EB31E;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .events {
        height: 1600px;
    }
    .events h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .events {
        height: 1400px;
    }

    .events h1 {
        font-size: 1.2 rem;
    }

    .events__card {
        width: 300px;
    }
}

/* Tour Section CSS */
.tours {
    background: #377419;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.tours h1 {
    background-color: #80e80a;
    background-image: linear-gradient(90deg, #80e80a 0%, #72FBFF 100%);
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.tours__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tours__container p {
    display: inline;
    text-align: left;
    margin-top: 0;
    position: absolute;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .tours {
        height: 1600px;
    }
    .tours h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .tours {
        height: 900px;
    }

    .tours h1 {
        font-size: 1.2 rem;
    }

    .tours__card {
        width: 200px;
    }

    .tours__container p {
        text-align: center;
    }
}

/* Tour Info Section CSS */
.tours__info {
    display: grid;
    margin-top: 4rem;
    margin-right: 8rem;
    margin-left: 8rem;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* Creates 2 rows of equal height */
    grid-gap: 10px; /* Adjust the gap between items as per your preference */
  }
  
.tours__item {
    background-color: #014529; /* Optional: Adds a background color to the items */
    padding: 15px; /* Optional: Adds some padding to the items */
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.tours__container p {
    margin-top: 0.3rem;
}

  
.tours__item h2 {
    margin: 0;
}


/* Advice Section CSS */
.tours__advice p {
    color: #fff;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 8rem;
    margin-left: 8rem;
}

.circles-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 3px;
    height: 400px;
    margin-top: 1rem;
  }
  
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9DB39F;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
 

/* Resource Section CSS */
.resource {
    background-color: #377419;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
  
.resource__container {
    display: grid; /* Change to flex to display cards side by side */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px; 
    background-color: #377419;
    margin: 0 -20px;
}
  
.resource__card {
    flex: 1;
    max-width: 500px;
    width: 400px;
    border-radius: 4px;
    color: #fff;
    height: 400px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.card-1 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-1 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-1:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-1:hover {
    color: #fff;
}

.card-1 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-1 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-1:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-1:hover {
    color: #fff;
}

.card-2 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-2 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-2:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-2:hover {
    color: #fff;
}

.card-3 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
    margin-bottom: 2rem;
}
  
.card-3 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-3:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-3:hover {
    color: #fff;
}

.card-4 {
    font-size: 1rem;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    overflow: hidden; /* Hide overflowing image */
}
  
.card-4 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.card-4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%); /* Initially move the image to the left */
    transition: transform 0.35s; /* Apply transition on the transform property */
    border-radius: 4px;
}
  
.card-4:hover img {
    transform: translateY(0); /* Move the image back to its original position on hover */
}
  
.card-4:hover {
    color: #fff;
}

.resource h1 {
    color: #87da48;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
  
/* .resource__card h2, 
.resource__card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
} */

.resource__card h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  
/*.resource__card p {
    font-size: 1rem;
    margin-bottom: auto;
}
  
.resource__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #5EB31E 0%, #ACF2F2 100%);
    font-size: 1rem;
    cursor: pointer;
} */

.resource__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .resource {
        height: 1600px;
    }

    .resource h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}



@media screen and (max-width: 480px) {
    .resource {
        height: 1400px;
    }

    .resource h1 {
        font-size: 1.2rem;
    }

    .resource__card {
        width: 200px;
        height: 200px;
    }
}